.advantage .advantage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 30px 15px 20px;

  @media (min-width: $tablet-width) {
    padding: 49px 45px 40px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: block;
    padding: 135px 0 185px;
    max-width: 100%;
    overflow: hidden;
  }
}

.advantage__title {
  position: relative;
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;
  }

  &::after {
    content: attr(data-duplicate-text);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    opacity: 0.03;
    pointer-events: none;
    z-index: -1;
    font-size: 26px;
    line-height: 26px;
    font-weight: inherit;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 40px;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      font-size: 55px;
      line-height: 55px;
    }
  }
}

.advantage .advantage__list {
  @include reset;

  text-align: center;

  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    width: 100%;
  }

  h3 {
    margin: 0;
    margin-bottom: 15px;
    padding: 62px 10px 0;
    font-size: 14px;
    line-height: 14px;

    @media (min-width: $tablet-width) {
      padding-top: 73px;
      font-size: 16px;
      line-height: 16px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 84px;
      font-size: 18px;
      line-height: 18px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.advantage .advantage__slider-wrapper {
  @media (min-width: $desktop-width) {
    width: calc(100% + 200px);
    margin-left: -100px;
    margin-right: -100px;
    padding: 0 100px;
  }
}

.advantage .advantage__item {
  position: relative;
  border: 1px solid rgb(2 102 193 / 0.1);
  padding: 19px 9px;
  width: 290px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 324px;
    min-height: 324px;
    padding: 29px 19px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
    padding: 40px 20px;
    height: 100%;
    min-height: 329px;
    flex-shrink: 0;
    transition: transform 0.3s ease;

    .swiper-slide-blank {
      display: none;
    }
  }

  &::before {
    @include pseudo;

    width: 42px;
    height: 42px;
    border: 1px solid $blue;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 30px;
      width: 48px;
      height: 48px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
      width: 54px;
      height: 54px;
    }
  }
}

.advantage__item--shield-icon::before {
  background-image: url("/__spritemap#sprite-shield-icon-view");
  background-size: 24px 24px;
}

.advantage__item--crown-icon::before {
  background-image: url("/__spritemap#sprite-crown-icon-view");
  background-size: 22px 20px;
}

.advantage__item--boot-icon::before {
  background-image: url("/__spritemap#sprite-boot-icon-view");
  background-size: 22px 20px;
}

.advantage__item--path-icon::before {
  background-image: url("/__spritemap#sprite-path-icon-view");
  background-size: 22px 22px;
}

.advantage__item--leaf-icon::before {
  background-image: url("/__spritemap#sprite-leaf-icon-view");
  background-size: 22px 15px;
}

.advantage__slider-button {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantage__button {
  display: block;
  width: 37px;
  height: 35px;
  background-color: $blue;
  position: relative;
  cursor: pointer;

  &::before {
    @include pseudo;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 1px;
    background-color: $white;
  }

  &::after {
    @include pseudo;

    top: 50%;
    width: 6px;
    height: 6px;
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: #1c3374;
    }

    &::after {
      border-left-color: #1c3374;
      border-bottom-color: #1c3374;
    }
  }

  &:active {
    &::before {
      background-color: $white;
    }

    &::after {
      border-left-color: $white;
      border-bottom-color: $white;
    }
  }
}

.advantage__button--prev {
  &::after {
    left: 35%;
    transform: translateY(-50%) rotate(45deg);
  }
}

.advantage__button--next {
  &::after {
    right: 35%;
    transform: translateY(-50%) rotate(-135deg);
  }
}
