.button {
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;

  &:focus {
    border: none;
    outline: none;
    color: #1c3374;
    background-color: $white;
  }

  &:hover {
    background-color: $white;
    border: 1px solid #1c3374;
    color: #1c3374;
  }

  &:active {
    background-color: #1c3374;
    color: $white;
  }

  &:disabled {
    background-color: #999999;
    color: $white;
    cursor: none;
  }
}
