.contacts .contacts__container {
  padding: 0;
  padding-top: 36px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 59px;
    padding-bottom: 39px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 94px;
    padding-left: 120px;
    padding-right: 120px;
    align-items: center;
    flex-direction: row;
    gap: 100px;
  }
}

.contacts__details-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
    gap: 49px;
  }
}

.contacts__text-wrapper {
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__title {
  position: relative;
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 100%;
    margin-bottom: 23px;
    padding-top: 55px;
  }

  &::after {
    content: attr(data-duplicate-text);
    position: absolute;
    bottom: 50%;
    left: 0;
    opacity: 0.03;
    pointer-events: none;
    z-index: -1;
    font-size: 26px;
    line-height: 26px;
    font-weight: inherit;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 40px;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      font-size: 55px;
      line-height: 55px;
      bottom: 0;
    }
  }
}

.contacts__title+p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 195px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 17px;
  }
}

.contacts__details-list {
  @include reset;

  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 41px;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-direction: column;
    gap: 35px;
  }
}

.contacts__details-item {
  padding-left: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 153px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 56px;
  }
}

.contacts__details-title {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8px;
  }
}

.contacts__details-info {
  display: block;
  text-decoration: none;
  color: $black;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-right: 15px;
  margin: 0;
  transition: opacity 0.3s ease;

  &--link {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 0;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__map-wrapper {
  background-color: #eaebed;
}

.contacts__map {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top center;

  @media (min-width: $desktop-width) {
    position: relative;
    top: 16px;
  }
}

.contacts__icon {
  position: absolute;
  display: block;
  top: 0;
  left: 1px;

  &--phone {
    top: 1px;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--email {
    top: 3px;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 15px;
      top: 4px;
      left: -2px;
    }

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 17px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--pin {
    top: 1px;
    left: 3px;

    @media (min-width: $tablet-width) {
      width: 16px;
      height: 22px;
      left: -1px;
    }

    @media (min-width: $desktop-width) {
      width: 18px;
      height: 24px;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
