.decorative {
  position: relative;

  &::after {
    @include pseudo;

    background-image: url("../../img/clouds-background-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: right 0 top 0;
    background-size: 141px 595px;
    width: 141px;
    height: 595px;
    top: 0;
    right: 0;
    z-index: 1;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/clouds-background-mobile@2x.png");
    }
  }
}
