.footer .footer__container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-bottom: 32px;
  }
}

.footer__wrapper,
.footer__social-wrapper {
  padding-top: 23px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 23px;
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 34px;
    padding-right: 45px;
    padding-left: 45px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.footer__social-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 34px;
    padding-right: 45px;
    padding-left: 45px;
    width: 100%;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.footer__logo {
  display: block;
  align-self: center;
}

.footer__logo-image {
  display: block;
  background-color: transparent;
}

.footer__nav-list {
  @include reset;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  grid-auto-flow: column;
  gap: 15px 50px;
  justify-items: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 30px;
  }
}

.footer__social-list {
  @include reset;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer__nav-link {
  text-decoration: none;
  color: $black;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.footer__copyright {
  text-decoration: none;
  color: $black;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}

.footer__social-link {
  text-decoration: none;
  color: $black;
  fill: $black;
  border: 1px solid rgba(45, 56, 63, 0.3);
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
}

.footer__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__phone {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    text-decoration: none;
    color: $black;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    align-self: center;
  }
}
