.slider__swiper {
  height: 568px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 1034px;
  }

  @media (min-width: $desktop-width) {
    height: 800px;
  }
}

.slider__swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
  height: 100%;
  text-align: center;
}

.slider__content-wrapper {
  margin-bottom: 60px;
  padding-top: 144px;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.slider__content-wrapper h1 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: $white;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop-width) {
    font-size: 77px;
    line-height: 77px;
    margin-bottom: 25px;
  }
}

.slider__content-wrapper p {
  margin: 0;
  color: $white;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.slider__button {
  font-size: 16px;
  line-height: 16px;
  color: $white;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  background-color: $blue;
  min-width: 180px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider__button:hover {
  background-color: darken($blue, 10%);
}

.slider__details {
  display: none;
  margin-top: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 20px;
  }
}

.slider__text {
  color: $white;
  font-size: 14px;
  line-height: 20px;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.slider__pagination {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 10;
}

.slider__pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &--active {
    background-color: $white;
    border: 1px solid $white;
  }
}
