.slider__swiper {
  height: 568px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 1034px;
  }

  @media (min-width: $desktop-width) {
    height: 800px;
  }
}

.slider__swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
  height: 100%;
  text-align: center;

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 120px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.slider__content-wrapper {
  margin-bottom: 60px;
  padding-top: 144px;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    padding-top: 137px;
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 200px;
    padding-left: 0;
    padding-right: 420px;
    max-width: max-content;
    align-self: flex-start;
  }
}

.slider__content-wrapper h1 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: $white;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop-width) {
    font-size: 77px;
    line-height: 77px;
    margin-bottom: 25px;
  }
}

.slider__content-wrapper p {
  margin: 0;
  color: $white;
  font-size: 15px;
  line-height: 20px;
  padding: 0 6px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
    padding: 0 77px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-right: 428px;
  }
}

.slider__button {
  font-size: 16px;
  line-height: 16px;
  color: $white;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  background-color: $blue;
  min-width: 180px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    margin-bottom: 134px;
  }
}

.slider__details {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-self: flex-start;
  }
}

.slider__text {
  color: $white;
  font-size: 12px;
  line-height: 16px;
  padding: 13px 19px 12px 39px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;

  &::after {
    @include pseudo;

    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-color: transparent;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }

  &--duration::after {
    background-image: url("../../img/sprite/moon-icon.svg");
  }

  &--difficulty::after {
    background-image: url("../../img/sprite/level-icon.svg");
  }
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.slider__pagination {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 10;

  @media (min-width: $desktop-width) {
    width: max-content;
    bottom: 92px;
    right: 120px;
    left: unset;
  }
}

.slider__pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }

  &--active {
    background-color: $white;
    border: 1px solid $white;
  }
}

.slider__cards {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    width: 442px;
    height: 365px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 197px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    height: 459px;
    right: 120px;
    bottom: unset;
    left: unset;
    top: 52%;
    transform: translateY(-50%);
  }
}
