*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include body-flex;

  font-family: $font-primary;
  min-width: 320px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  min-height: 100vh;
  color: $black;
  background-color: $white;
  margin: 0;

  &--no-scroll {
    overflow: hidden;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
