$font-primary: "Montserrat", "Arial", sans-serif;
$white: #ffffff;
$black: #2d383f;
$blue: #0266c1;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
